<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyust.health.dao.PersonInfoMapper">
  <resultMap id="BaseResultMap" type="com.tyust.health.entity.PersonInfo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="BIGINT" property="phone" />
    <result column="college" jdbcType="INTEGER" property="college" />
    <result column="student_class" jdbcType="VARCHAR" property="studentClass" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="is_back_school" jdbcType="BIT" property="isBackSchool" />
    <result column="batch_id" jdbcType="INTEGER" property="batchId" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>

  <sql id="Base_Column_List">
    user_id, name, phone, college, student_class, province, city, county, user_type, 
    is_back_school, batch_id, flag
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
        <include refid="Base_Column_List" />
    from person_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <select id="selectPersonInfoList" resultType="com.tyust.health.entity.PersonInfo">
    select
        <include refid="Base_Column_List"></include>
    from person_info
    <where>
<!--        <if test="user.userId != null">
            and user_id = #{user.userId}
        </if>-->
        <if test="user.name != null">
            and name like "%"#{user.name}"%"
        </if>
        <if test="user.college != null">
            and college = #{user.college}
        </if>
        <if test="user.studentClass != null">
          and student_class like "%"#{user.studentClass}"%"
        </if>
        <if test="user.province != null">
          and province = #{user.province}
        </if>
        <if test="user.city != null">
          and city = #{user.city}
        </if>
        <if test="user.county != null">
          and county = #{user.county}
        </if>
        <if test="user.userType != null">
          and user_type = #{user.userType}
        </if>
        <if test="user.isBackSchool != null">
          and is_back_school = #{user.isBackSchool}
        </if>
        <if test="user.batchId != null">
           and batch_id = #{user.batchId}
        </if>
        <if test="user.flag != null">
            and flag = #{user.flag}
        </if>
    </where>
    order by
    is_back_school desc
    limit #{rowIndex},#{pageSize}


  </select>




  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from person_info
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.tyust.health.entity.PersonInfo" useGeneratedKeys="true" keyColumn="user_id" keyProperty="userId">
    insert into person_info (user_id, name, phone, 
      college, student_class, province, 
      city, county, user_type, 
      is_back_school, batch_id, flag
      )
    values (#{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=BIGINT}, 
      #{college,jdbcType=INTEGER}, #{studentClass,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, 
      #{isBackSchool,jdbcType=BIT}, #{batchId,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.tyust.health.entity.PersonInfo" useGeneratedKeys="true" keyColumn="user_id" keyProperty="userId">
    insert into person_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="college != null">
        college,
      </if>
      <if test="studentClass != null">
        student_class,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="county != null">
        county,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="isBackSchool != null">
        is_back_school,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=BIGINT},
      </if>
      <if test="college != null">
        #{college,jdbcType=INTEGER},
      </if>
      <if test="studentClass != null">
        #{studentClass,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="isBackSchool != null">
        #{isBackSchool,jdbcType=BIT},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.tyust.health.entity.PersonInfo">
    update person_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=BIGINT},
      </if>
      <if test="college != null">
        college = #{college,jdbcType=INTEGER},
      </if>
      <if test="studentClass != null">
        student_class = #{studentClass,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="isBackSchool != null">
        is_back_school = #{isBackSchool,jdbcType=BIT},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tyust.health.entity.PersonInfo">
    update person_info
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=BIGINT},
      college = #{college,jdbcType=INTEGER},
      student_class = #{studentClass,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      is_back_school = #{isBackSchool,jdbcType=BIT},
      batch_id = #{batchId,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>